<?xml version="1.0"?>
<launch>
  <arg name="use_bag" default="true"/>
  <arg name="bagfile" default="/home/amsl/bagfiles/roomba_test_2020-11-16-18-55-47.bag"/>
  <arg name="image_raw_topic" default="/theta_s/image_raw" />
  <arg name="image_width" default="640" />
  <arg name="image_height" default="480" />

  <group if="$(arg use_bag)">
    <node name="rosbag_play" pkg="rosbag" type="play" args="$(arg bagfile) --clock -l"/>
    <include file="$(find theta_s_ros)/launch/republish.launch" />
  </group>

  <group unless="$(arg use_bag)">
    <include file="$(find theta_s_ros)/launch/run_theta_s.launch" />
  </group>

  <group ns="theta_s">
    <node pkg="theta_s_ros" type="image_converter" name="converter" >
      <remap from="/camera/image_raw" to="$(arg image_raw_topic)" />
    </node>
  </group>
</launch>